
.reservation{

    font-size: 0.85rem;
    color: #2A303C;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-weight: 500;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    /* bottom: -130px; */
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    
    }
    
    .title-easybox {
        background-color: rgb(247, 250, 221);
        font-size: 0.85rem;
        color: #2A303C;
        box-sizing: border-box;
        padding-left: 80px;
        padding-right: 80px;
        border: 0;
        font-weight: 500;
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin: 0 0 57px 0;
        border-radius: 20px;
    }
    .title-easybox div {
        display: flex;
        
    }
    .title-easybox p {
        line-height: 75px;  
    }
    .title-easybox h2 {
        font-size: 20px;
        line-height: 45px; 
    }
    /* .title-easybox span {
        font-weight: 400;
        font-size: 10px;
        line-height: 75px;
        background-color: azure;
        border-radius: 10px;
        margin-left: 8px;
        padding: 3px 11px;
        height: 15px;
        
} */

        
    
    .title-easybox p {
        padding-right: 12px;
        font-size: 19px;
    }
    .title-easybox strong {
        font-size: 19px;
        line-height: 110px;
        color: rgb(153, 91, 210);
    }
    
    
    /* -------------------------- */
    /* .reservation_form {
    
        display: flex;
        padding-right: 0;
        justify-content: space-between;
        padding: 20px 30px;
    } */
    
    .reservation_form label {
        justify-content: space-between;
    }
    .reservation_form ul {
        padding-right: 60px;
        padding-left: 60px;
    }
    
    .reservation_form li {
        list-style:none;
        justify-content: space-between;
    }
    .reservation_form label span {
        width: 40px;
        height: 55px;
        line-height: 23px;
        font-size: 15px;
        font-weight: 700;
        color: #2A303C;
        padding: 16px 0;
    }
    .reservation_form label input {
        width: calc(100% - 97px);
            height: 55px;
            line-height: 55px;
            border: #BBC0C9 1px solid;
            border-radius: 2px;
            padding: 0 20px;
            font-size: 16px;
            color: #BBC0C9;
    }
    .reservation_form li {
        display: flex;
    }
    .reservation_form button {
        border: #BBC0C9 1px solid;
            height: 55px;
            line-height: 55px;
            background: #fff;
            color: #BBC0C9;
            font-weight: 700;
            font-size: 15px;
            width: 130px;
            text-align: center;
            font-weight: 700;
    }
    